<div class='d-flex justify-space-around'>
<% @cocktails.each do |cocktail| %>

  <div class="card col-sm-3 m-">
    <div class="card-body">
      <h5 class="card-title"><%= cocktail.name %></h5>
    </div>
  </div>
<% end %>
</div>
