<h1 style = "color:white">Create a New Cocktail</h1>

<div class = 'd-flex justify-content-center'>
<%= simple_form_for @cocktail do |f| %>

<%= f.input :name, :input_html => { :wrap => :soft, :rows => 2}, :label => 'Name of Cocktail', wrapper_html: { class:  'type' } %>
<%= f.button :submit, class: "btn-primary" %>

<% end %>
</div>
